.about{
    background: url('../../../images/canvas-slate.jpg');   
    clip-path: polygon(0% 0%, 50% 30%, 100% 0%, 100% 100%, 0% 100%);
    align-items: center;
    
    
    padding-top: 150px;
    color: white;
}